.assets
.env
*.pyc
dist/
build/
docs/
*.egg-info/
*.egg
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
*.pyzz
.venv/
venv/
__pycache__/
node_modules/
poetry.lock
.pytest_cache/
.tmp_pytest/
.tmp_pytest_cache/
pytest-cache-files-*/
botpy.log
tests/
